.intro-section {
    height: 400px;
    width: 100%;
}

.purple-box {
    margin: 0 0 0 300px;
    height: 100%;
    width: auto;
    background-color: #927CDB;
}

.intro-detail-container {
    vertical-align: center;
    left: 200px;
}

.profile-photo { 
    display: inline-block;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.name-heading {
    margin-left: 130px;
}